$main_color:#e07d6a;
$text_dark:#0d1d22;
@media (max-width: 767px) {
    .introblock{
        display: none;
    }
    .tech{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        .title{
            margin-top: 33px;
            .title2{
                display: block;
            }
            .body{
                display: none;
            }

        }
        .content{
            .body{
                display: block;
            }
            .light{
                display: none;
            }
        }
        
    }
}
@media (max-width: 480px) {
    .intro-pic{
        display: none
    }
    .introblock{
        display: block;
    }
    .tech{
        display: none;
        .title{
            .title2{
                display: none;
            }
            .body{
                display: block;
            }
            
        }
        .content{
            .body{
                display: none;
            }
            .light{
                display: block;
            }
        }
    }
    
}
@media (min-width: 768px) and (max-width: 979px) {
    .introblock{
        display: none;
    }
    .tech{
        display: flex;
        flex-direction: column;
        padding-left: 40px;
        padding-right: 40px;
        .title{
            margin-top: 33px;
            .title2{
                display: block;
            }
            .body{
                display: none;
            }

        }
        .content{
            .body{
                display: block;
            }
            .light{
                display: none;
            }
        }
    }
}
@media (min-width: 980px) {
    .introblock{
        display: none;
    }
    .tech{
        display: flex;
        // .imgwrap{
        //     margin-right: 40px;
        //     flex: 6;
        // }
        // .tech-content{
        //     flex: 3;
        // }
        flex-direction: column;
        padding-left: 122px;
        padding-right: 122px;
        .title{
            margin-top: 33px;
            .title2{
                display: block;
            }
            .body{
                display: none;
            }

        }
        .content{
            .body{
                display: block;
            }
            .light{
                display: none;
            }
        }
       
    }
}
@media (min-width: 1200px) {
   
    .tech-content{
        flex: 6;
    }
    .tech{
        .imgwrap{
            margin-right: 40px;
            flex: 6;
        }
        flex-direction: row;
        padding-left: 122px;
        padding-right: 122px;
        .title{
            margin: 0;
        }
       
    }
}
.branding{
   
    .intro-pic{
        width: 100vw;
        height: auto;
       
        img{
            width: 100%;
            max-width: 100vw;
        }
    }
    .introblock{
        margin-bottom: 74px; 
        padding-left: 20px;
        padding-right: 20px;
        img{
            width: 100%;
          
        }
        .title{
            padding: 7px;
            color: $main_color;
        }
        .content{
            padding:7px;
            color: $text_dark;
        }
    }
    .tech{
       
        
        margin-top: 144px;
        .imgwrap{
           
           
            img{
            width: 100%;
            height: auto;
            border-radius: 5px;
          
            }
        }
      
        .tech-content{
            
            .title{
                color: $main_color;
            }
            .content{
                margin-top: 30px;
                color: $text_dark;
            }
            .keyword{
                margin-top: 30px;
                text-align: center;
                color: $main_color;
            }

        }
        
    }
}