$main_color:#e07d6a;
$text_dark:#0d1d22;

@media (max-width: 767px) {
    .features {
        .features-title {
            .title2 {
                display: block;
            }

            .title3 {
                display: none;
            }

        }
        
        .one {
            margin-bottom: 90px;
            // padding-left: 40px;
            // padding-right: 40px;
            flex-direction: column;

            .imgwrap {
                padding: 0;
                padding: 0;

                .circle {
                    left: 95%;
                    top: -15px;
                }

                // flex: 6;
            }

            .contentwrap {
                padding-left: 40px;
                padding-right: 40px;

                // flex: 6;
                .title {
                    margin-top: 20px;

                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;

                    }
                }
            }

            .content:nth-child(2) {
                margin-top: 40px;

            }

            .content:nth-child(3) {
                margin-top: 28px;

            }
        }
        .two:nth-child(1){
            margin-bottom: 90px;
        }

        .two {
           
            .imgwrap{
                position: relative;
                .circle {
                    left: 95%;
                    top: -15px;
                }
            }
           

            .contentwrap {
                padding-left: 40px;
                padding-right: 40px;

                // flex: 6;
                .title {
                    margin-top: 20px;

                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;

                    }
                }
            }

            .content:nth-child(2) {
                margin-top: 40px;

            }

            .content:nth-child(3) {
                margin-top: 28px;

            }
        }

        .bottom-wrap {
            display: block;
        }
    }
}

@media (max-width: 480px) {
    .features {
        .features-title {
            .title2 {
                display: none;
            }

            .title3 {
                display: block;
            }

        }

        .one {


            .imgwrap {
                flex: 5;
                padding: 0;
                padding: 0;

                .circle {
                    left: 20px;
                    top: 92%;
                }
            }

            .contentwrap {
                flex: 7;
                padding-left: 70px;
                padding-right: 20px;

                .title {
                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 11px;

                }

                .content:nth-child(3) {
                    margin-top: 11px;

                }
            }
        }

        .two {
            .imgwrap{
                position: relative;
                .circle {
                    left: 20px;
                    top: 92%;
                }
            }
            
            .contentwrap {
                flex: 7;
                padding-left: 70px;
                padding-right: 20px;

                .title {
                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 11px;

                }

                .content:nth-child(3) {
                    margin-top: 11px;

                }
            }
        }

        .bottom-wrap {
            display: block;
            // padding-left: 20px;
            // padding-right: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .features {
        .features-title {
            .title2 {
                display: block;
            }

            .title3 {
                display: none;
            }

        }

        .one {
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 133px;

            .imgwrap {
                margin-right: 23px;
                flex: 6;

                .circle {
                    left: 95%;
                    top: -15px;
                }

                img {
                    border-radius: 5px;
                }
            }

            .contentwrap {
                flex: 6;

                .title {
                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 40px;

                }

                .content:nth-child(3) {
                    margin-top: 28px;

                }
            }

        }

        .two:nth-child(1) {
            margin-right: 60px;
        }

        .two {
            .imgwrap{
                position: relative;
                img{
                    border-radius: 5px;
                }
                .circle {
                    left: 95%;
                    top: -15px;
                }
            }
            .contentwrap {
                flex: 6;
                // padding-left: 40px;
                // padding-right: 40px;

                .title {
                    margin-top: 42px;
                    .title3 {
                        display: none;
                    }

                    .subtitle {
                        display: block;
                    }
                }

                .content {
                    .body {
                        display: none;
                    }

                    .light {
                        display: block;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 40px;

                }

                .content:nth-child(3) {
                    margin-top: 28px;

                }
            }
        }

        .bottom-wrap {
            display: flex;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media (min-width: 980px) {
    .features {
        .features-title {
            .title2 {
                display: block;
            }

            .title3 {
                display: none;
            }

        }

        .one {
            padding-left: 122px;
            padding-right: 122px;
            margin-bottom: 133px;

            .imgwrap {
                margin-right: 23px;
                flex: 6;

                img {
                    border-radius: 5px;
                }

                .circle {
                    left: 95%;
                    top: -15px;
                }
            }

            .contentwrap {
                flex: 6;

                .title {
                    .title3 {
                        display: block;
                    }

                    .subtitle {
                        display: none;
                    }
                }

                .content {
                    .body {
                        display: block;
                    }

                    .light {
                        display: none;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 40px;

                }

                .content:nth-child(3) {
                    margin-top: 28px;

                }
            }
        }

        .two:nth-child(1) {
            margin-right: 60px;
        }

        .two {
            .imgwrap{
                position: relative;
                img{
                    border-radius: 5px;
                }
                .circle {
                    left: 95%;
                    top: -15px;
                }
            }
            .contentwrap {
                flex: 6;

                .title {
                    margin-top: 42px;
                    .title3 {
                        display: block;
                    }

                    .subtitle {
                        display: none;
                    }
                }

                .content {
                    .body {
                        display: block;
                    }

                    .light {
                        display: none;
                    }
                }

                .content:nth-child(2) {
                    margin-top: 40px;

                }

                .content:nth-child(3) {
                    margin-top: 28px;

                }
            }
        }

        .bottom-wrap {
            display: flex;
            padding-left: 122px;
            padding-right: 122px;
        }
    }
}

@media (min-width: 1200px) {}

.features {
    margin-top: 107px;

    .features-title {

        text-align: center;
        color: $main_color;
    }

    .one {
        display: flex;
        margin-top: 99px;

        .imgwrap {

            position: relative;

            img {
                width: 100%;


            }

            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: absolute;

                background-color: $main_color;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .contentwrap {

            display: flex;
            flex-direction: column;
            color: $main_color;

            .title {}


        }
    }

    .two {
        flex: 6;
        // border: solid 1px;

        .imgwrap {


            img {
                width: 100%;
                max-height: 477px;
            }

            .circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: absolute;

                background-color: $main_color;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .contentwrap {
            color: $main_color;
        }
    }

}