$main_color:#e07d6a;
@media (max-width: 767px) {
    .footerlogowrap{
        width: 208px;  
    }
    .scrolltotop{
        left: 83%;
    }
}
@media (max-width: 480px) {
    .footerlogowrap{
        width: 150px;  
    }
    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .footerlogowrap{
        width: 208px;  
    }
    .scrolltotop{
        left: 85%;
    }
}
@media (min-width: 980px) {
    .footerlogowrap{
        width: 208px;  
    }
    .scrolltotop{
        left: 87%;
    }
    
}
@media (min-width: 1200px) {
}
footer{
    position: relative;
    margin-bottom: 40px;
    // border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main_color;
    .footerlogowrap{
        
        // border: solid 1px;
        margin-bottom: 38px;
        img{
          width: 100%;
        }
    }
    span{
        text-align: center;
    }
    .scrolltotop{
        cursor: pointer;
        display: flex;
        position: absolute;
        .svgwrap{
            border: solid 2px;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            margin-right: 7px;
            transition: 0.3s;
        }
        .svgwrap:hover{
            background-color: $main_color;
            svg{
                fill: white;
            }
        }
        svg{
            fill: $main_color;
            // border: solid 1px;
        }
        span{
            writing-mode: vertical-lr;
        }
    }
}


