@media (max-width: 767px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar .logotype .subtitle {
    display: none;
  }
  .navbar .logotype .body {
    display: block;
  }
  .navbar .item {
    display: none;
  }
  .navbar .hammenu {
    display: block;
  }
  .navbar .hammenu .line {
    width: 78px;
    height: 5px;
  }
  .navbar .fix-buybtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 83%;
    color: white;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .logotype .subtitle {
    display: none;
  }
  .navbar .logotype .body {
    display: block;
  }
  .navbar .item {
    display: none;
  }
  .navbar .hammenu {
    display: block;
  }
  .navbar .hammenu .line {
    width: 47px;
    height: 5px;
  }
  .navbar .fix-buybtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 85%;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar .logotype .subtitle {
    display: block;
  }
  .navbar .logotype .body {
    display: none;
  }
  .navbar .item {
    display: none;
  }
  .navbar .hammenu {
    display: block;
  }
  .navbar .hammenu .line {
    width: 78px;
    height: 5px;
  }
  .navbar .fix-buybtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 90%;
    color: white;
  }
}

@media (min-width: 980px) {
  .navbar {
    padding-left: 122px;
    padding-right: 122px;
  }
  .navbar .logotype .subtitle {
    display: block;
  }
  .navbar .logotype .body {
    display: none;
  }
  .navbar .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .hammenu {
    display: none;
  }
  .navbar .fix-buybtn {
    display: none;
    color: white;
  }
}

.navbar {
  color: #e07d6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  padding-top: 30px;
  width: 100%;
}

.navbar .logotype {
  width: 199px;
}

.navbar .navitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navitems .item {
  margin-left: 24px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navitems .item .decoline {
  border: solid 1px;
  opacity: 0;
  width: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .navitems .item:hover .decoline {
  opacity: 1;
  width: 100%;
}

.navbar .navitems .buybtn {
  background-color: #e07d6a;
  color: white;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navitems .buybtn:hover {
  background-color: #BA6758;
}

.navbar .navitems .hammenu {
  cursor: pointer;
}

.navbar .navitems .hammenu .line {
  border-radius: 50px;
  background-color: #e07d6a;
}

.navbar .navitems .hammenu .line:first-child {
  margin-bottom: 18px;
}

.navbar .fix-buybtn {
  width: 36px;
  height: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  padding: 2px;
  border-radius: 5px;
  background-color: #e07d6a;
  position: fixed;
  top: 129px;
}
/*# sourceMappingURL=navbar.css.map */