$main_color:#e07d6a;

@media (max-width: 767px) {
    .navbar{
        padding-left: 40px;
        padding-right: 40px;
        .logotype{
            .subtitle{
                display: none;
            }
            .body{
                display: block;
            }
        }
        .item{
            display: none;
        }
        .hammenu{
            display: block;
            .line{
                width: 78px;
                height: 5px;
               
            }
        }
        .fix-buybtn{
            display: flex;
        }
    }
}
@media (max-width: 480px) {
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
        .logotype{
            .subtitle{
                display: none;
            }
            .body{
                display: block;
            }
        }
        .item{
            display: none;
        }
        .hammenu{
            display: block;
            .line{
                width: 47px;
                height: 5px;
              
            }
        }
        .fix-buybtn{
            display: flex;
        }
    }
    
}
@media (min-width: 768px) and (max-width: 979px) {
    .navbar{
        padding-left: 40px;
        padding-right: 40px;
        .logotype{
            .subtitle{
                display: block;
            }
            .body{
                display: none;
            }
        }
        .item{
            display: none;
        }
        .hammenu{
            display: block;
            .line{
                width: 78px;
                height: 5px;
               
            }
        }
        .fix-buybtn{
            display: flex;
        }
    }
}
@media (min-width: 980px) {
    .navbar{
        padding-left: 122px;
        padding-right: 122px;
        .logotype{
            .subtitle{
                display: block;
            }
            .body{
                display: none;
            }
        }
        .hammenu{
            display: none;
            
        }
        .fix-buybtn{
            display: none;
        }
    }
}
@media (min-width: 1200px) {
 
}
.navbar{
    color: $main_color ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    width: 100%;
    // border: solid 1px;
   
    .logotype{
        // border: solid 1px;
        width: 199px;
    }
    .navitems{
        display: flex;
        align-items: center;
        transition: 0.3s;
        // position: relative;
       
        .item{
            margin-left: 24px;
        }
        .buybtn{
            background-color: $main_color;
            color: white;
            border-radius: 5px;
            padding: 10px;

        }
        .hammenu{
            .line{
                
                border-radius: 50px;
                background-color: $main_color;
                // margin-bottom: 18px;
            }
            .line:first-child{
                margin-bottom: 18px;
            }
        }
       
    }
    .fix-buybtn {
        width: 36px;
        height: 125px;

        
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 2px;
        border-radius: 5px;
        background-color: $main_color;
        position: fixed;
        left: 85%;
        // left:87%;
        // left: 95vw;
        top: 129px;

    }
}