$main_color:#e07d6a;

@media (max-width: 767px) {
    .product{
        height: 1987px;
    }
    .product-flexwrap{
        display: flex;
        flex-direction: column;
        .bigshrimp{
            margin-top: 150px;
        }
    }
    .mobileproduct{
        display: none;
    }
}
@media (max-width: 480px) {
    .product{
        height: 852px;
        .product-flexwrap{
            display: none;
        }
    }
    .mobileproduct{
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .product{
        height: 1987px;
    }
    .product-flexwrap{
        display: flex;
        flex-direction: column;
        .bigshrimp{
            margin-top: 150px;
        }
    }
    .mobileproduct{
        display: none;
    }
    
    
}
@media (min-width: 980px) {
    .product{
        height: 966px;
        .product-flexwrap{
            display: flex;
        }
        .mobileproduct{
            display: none;
        }
    }
}
@media (min-width: 1200px) {
    
}

.product{
    background-color: $main_color;
    margin-top: 155px;
   
    padding-top: 87px;
    .product-flexwrap{
        
        .shrimp{
            flex: 6;
           
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            .productname{
                margin-top: 72px;
              
            }
            .price{
                margin-top: 24px;
            }
            .content{
                margin-top: 24px;
                text-align: center;
            }
            .imgwrap{
                
                img{
                    max-height: 307px;
                    border-radius: 5px;
                }
            }
            
        }
        .bigshrimp{
            flex: 6;
            
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            .productname{
                margin-top: 72px;
            }
            .price{
                margin-top: 24px;
            }
            .content{
                margin-top: 24px;
                text-align: center;
            }
            .imgwrap{
                img{
                    max-height: 307px;
                    border-radius: 5px;
                }
            }
            
        }
    }
    
    .buybtn{
        // width: 397px;
        cursor: pointer;
        width: 250px;
        // height: 70px;
        margin: auto;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: white;
        color: $main_color;
        transition: 0.3s all;
    }
    .buybtn:hover{
       transform: scale(1.1);
        // background-color: #BA6758;
    }
    .mobileproduct{
        padding-left: 20px;
        padding-right: 20px;
       color: white;
       text-align: center;
        .imgwrap{
            width: 100%;
            display: flex;
            justify-content: center;
            img{
                width: 100%;
                max-width: 335px;
                border-radius: 5px;
                max-height: 209px;
            }
        }
        .productname{
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: solid 1px;
            max-width: 335px;
            margin: auto;
            margin-top: 32px;
            span{
                margin-left: 50px;
                margin-right: 50px;
            }
            svg{
                cursor: pointer;
                fill: white;
                // border: solid 1px;
                width: 50px;
            }
        }
        .price{
            margin-top: 29px;
        }
        .content{
            margin-top: 29px;
        }
    }
    
}
